<div id="category-browse">
    <div class="row">
        <!--<input type="text" ng-model="selected" uib-typeahead="" class="form-control">-->        
    </div>
    <div class="row">
        <div class="col-xs-3"> <!-- required for floating -->
            <!-- Nav tabs -->
            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab ng-click="grabItems(sub_cat.id)" ng-repeat="sub_cat in categorybrowseController.sub_category" heading="{{sub_cat.name}}">
                </uib-tab>
            </uib-tabset>

        </div>  
        <div class="col-xs-9 container-fluid">
            <div class="well well-sm">
                <strong>Display</strong>
                <div class="btn-group">
                    <a href="#" ng-click="ListView()" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                        </span>List</a> <a href="#" ng-click="GridView()" id="grid" class="btn btn-default btn-sm"><span
                            class="glyphicon glyphicon-th"></span>Grid</a>
                </div>
                <div style="float: right">
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Filter by name...">
                </div>
            </div>
            <div id="products" class="row list-group">
                <div ng-repeat="item in items | filter:searchText" class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <!--400x250-->
                        <img class="group list-group-image" ng-src="resources/img/{{item.img_path}}" alt="" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                {{item.name}}</h4>
                            <p class="group inner list-group-item-text">
                            {{item.description}}
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                    price
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>